.pagination .prev,
.pagination .next,
.pagination .page-btn {
  font-size: 12px;
  line-height: 14.52px;
  width: 38px;
  height: 38px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}
.pagination .prev:hover,
.pagination .next:hover,
.pagination .page-btn:hover,
.pagination .page-btn.active:hover {
  color: #000;
  background-color: #f0f0f0;
}

.pagination .page-btn.active {
  color: #f0f0f0;
  background-color: #666;
}
/* .pagination .page-btn:hover {
  color: #f0f0f0;
  background-color: #c33212;
  border-color: #c33212;
} */

.pagination .prev:disabled,
.pagination .next:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
